.App{
  display: flex;  
  flex-direction: column;
  align-items: center;
  

}
.btnKelimeGrup{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  
}
.btnKelimeGrup .btn{
  margin-top: 15px;
}
.textfieldGrup{
  display: flex;
  flex-direction: column;
}
.cfStyle{
    height:"300px";
    width:"300px";
    background-color:"#F5B041";
    color:"#212F3D";
    display:"flex";    
    flex-direction:"column";
    align-items:"center";
    justify-content:"center";
    border-radius:"30px";
}